extends layouts/html.jade
block content
	div.inner
			div.top-crohi
				ul.crohi
					li
						img(src="img/ulr-top.png")
					li 
						a(href="#")Новости 
					li 
						a(href="#")Спортивные новости
					li.crohi-descr Хачанов проиграл первой ракетке мира Маррею и выбыл из Roland Garros

			div.top-slider
				ul(class="c-slider" id="slider")
					li.item
						p G-SHOCK × Chari & Co: прочность и точность
					li.item
						p G-SHOCK × Chari & Co: прочность и точность
					li.item
						p G-SHOCK × Chari & Co: прочность и точность
				button(class="prev") 
					i(class="fa fa-arrow-left")
				button(class="next") 
					i(class="fa fa-arrow-right")

			div.content
				div.container-fluid
					div.row
						div.col-md-12
							div.col-md-8
								div.left-column
									h1 спортивные новости
									div.left-column__block
										img(src="img/news-img.png")
										div.block__text
											h2.
												Хачанов проиграл первой ракетке мира и 
												выбыл из "Ролан Гаррос"
											span.block-text_data 17 мая 2017
											p.
												Москва. 5 июня. INTERFAX.RU - Российский теннисист Карен Хачанов 
												потерпел поражение в матче за выход в четвертьфинал 
												Открытого чемпионата Франции – турнира серии "Большого 
											a(href="#")Далее
									div.left-column__block
										img(src="img/news-img.png")
										div.block__text
											h2.
												Хачанов проиграл первой ракетке мира и 
												выбыл из "Ролан Гаррос"
											span.block-text_data 17 мая 2017
											p.
												Москва. 5 июня. INTERFAX.RU - Российский теннисист Карен Хачанов 
												потерпел поражение в матче за выход в четвертьфинал 
												Открытого чемпионата Франции – турнира серии "Большого 
											a(href="#")Далее
									div.left-column__block
										img(src="img/news-img.png")
										div.block__text
											h2.
												Хачанов проиграл первой ракетке мира и 
												выбыл из "Ролан Гаррос"
											span.block-text_data 17 мая 2017
											p.
												Москва. 5 июня. INTERFAX.RU - Российский теннисист Карен Хачанов 
												потерпел поражение в матче за выход в четвертьфинал 
												Открытого чемпионата Франции – турнира серии "Большого 
											a(href="#")Далее
									div.left-column__block
										img(src="img/news-img.png")
										div.block__text
											h2.
												Хачанов проиграл первой ракетке мира и 
												выбыл из "Ролан Гаррос"
											span.block-text_data 17 мая 2017
											p.
												Москва. 5 июня. INTERFAX.RU - Российский теннисист Карен Хачанов 
												потерпел поражение в матче за выход в четвертьфинал 
												Открытого чемпионата Франции – турнира серии "Большого 
											a(href="#")Далее
									div.left-column__block
										img(src="img/news-img.png")
										div.block__text
											h2.
												Хачанов проиграл первой ракетке мира и 
												выбыл из "Ролан Гаррос"
											span.block-text_data 17 мая 2017
											p.
												Москва. 5 июня. INTERFAX.RU - Российский теннисист Карен Хачанов 
												потерпел поражение в матче за выход в четвертьфинал 
												Открытого чемпионата Франции – турнира серии "Большого 
											a(href="#")Далее
									div.left-column__block
										img(src="img/news-img.png")
										div.block__text
											h2.
												Хачанов проиграл первой ракетке мира и 
												выбыл из "Ролан Гаррос"
											span.block-text_data 17 мая 2017
											p.
												Москва. 5 июня. INTERFAX.RU - Российский теннисист Карен Хачанов 
												потерпел поражение в матче за выход в четвертьфинал 
												Открытого чемпионата Франции – турнира серии "Большого 
											a(href="#")Далее
									div.left-column__block
										img(src="img/news-img.png")
										div.block__text
											h2.
												Хачанов проиграл первой ракетке мира и 
												выбыл из "Ролан Гаррос"
											span.block-text_data 17 мая 2017
											p.
												Москва. 5 июня. INTERFAX.RU - Российский теннисист Карен Хачанов 
												потерпел поражение в матче за выход в четвертьфинал 
												Открытого чемпионата Франции – турнира серии "Большого 
											a(href="#")Далее
									div.stranicu
										a(href="#") В начало
										a(href="#") 1
										a(href="#") 2
										a(href="#") 3
										a(href="#") 4
										a(href="#") 5
										span ...
										a(href="#") Далее
							div.col-md-4
								div.right-column
									h1 категории
									ul.content__mnu
										li
											i(class="fa fa-angle-double-right")
											a(href="#")Спортивные новости
										li
											i(class="fa fa-angle-double-right")
											a(href="#")Футбол
										li
											i(class="fa fa-angle-double-right")
											a(href="#")Хоккей
										li
											i(class="fa fa-angle-double-right")
											a(href="#")Баскетбол
										li
											i(class="fa fa-angle-double-right")
											a(href="#")Теннис
										li
											i(class="fa fa-angle-double-right")
											a(href="#")Автоспорт
										li
											i(class="fa fa-angle-double-right")
											a(href="#")Единоборства
									h1 популярные новости
									div.right_news
										img(src="img/sidebar-img.png")
										h2 «Фиорентина» отдала € 8 млн за игрока «Палмейраса» Уго
										span.block-text_data 17 мая 2017
										p.
											«Фиорентина» официально объявила о переходе защитника «Палмейраса» Витора Уго. По информации итальянских СМИ, сумма трансфера составила € 8 млн. Контракт между «фиалками» и Уго рассчитан на четыре года.
										a(href="#") Далее
									div.right_news
										img(src="img/sidebar-img.png")
										h2 «Фиорентина» отдала € 8 млн за игрока «Палмейраса» Уго
										span.block-text_data 17 мая 2017
										p.
											«Фиорентина» официально объявила о переходе защитника «Палмейраса» Витора Уго. По информации итальянских СМИ, сумма трансфера составила € 8 млн. Контракт между «фиалками» и Уго рассчитан на четыре года.
										a(href="#") Далее