extends layouts/html.jade
block content
	div.inner
		div.top-crohi
			ul.crohi
				li
					img(src="img/ulr-top.png")
				li 
					a(href="#")Новости 
				li 
					a(href="#")Спортивные новости
				li.crohi-descr Хачанов проиграл первой ракетке мира Маррею и выбыл из Roland Garros

		div.content
			div.container-fluid
				div.row
					div.col-md-12
						div.col-md-8
							div.left-column
								h1.top-descr-news Хачанов проиграл первой ракетке мира Маррею и выбыл из Roland Garros
								img(src="img/top-news.png")
								span 17 мая 2017
								p.
									МОСКВА, 5 июня. /ТАСС/. Россиянин Карен Хачанов проиграл первой "ракетке" мира британцу Энди Маррею в матче 1/8 финала Roland Garros (призовой фонд - более €36 млн), второго в сезоне турнира серии Большого шлема.
								p Встреча завершилась со счетом 6:3, 6:4, 6:4 в пользу британского теннисиста.
								p.
									Россиянин, занимающий 53-ю строчку в рейтинге Ассоциации теннисистов-профессионалов, впервые в своей карьере дошел до 1/8 финала на турнирах серии Большого шлема. Хачанов последним из россиян выбыл из одиночного турнира Roland Garros.
								p В следующем раунде Маррей встретится с победителем матча между японцем Кеи Нисикори (8) и испанцем Фернандо Вердаско.
								p Открытый чемпионат Франции завершится 11 июня.
								div.social-news
									span Поделиться:
									ul.social-btn
										li 
											a(href="#")
												i(class="fa fa-vk")
										li 
											a(href="#")
												i(class="fa fa-facebook")
										li 
											a(href="#")
												i(class="fa fa-twitter")
										li 
											a(href="#")
												i(class="fa fa-pencil")
										li 
											a(href="#")
												i(class="fa fa-at")
										li 
											a(href="#")
												i(class="fa fa-odnoklassniki")
								h1 Похожие новости
								div.others-news
									div.others-block
										img(src="img/layer1.png")
										a(href="#") Бесплатный транспорт на Кубке конфедераций будет обозначен специальной эмблемой
									div.others-block
										img(src="img/layer2.png")
										a(href="#") Массимилиано Аллегри "Ювентус" продлил контракт с главным тренером Аллегри до 2020 года
									div.others-block
										img(src="img/layer3.png")
										a(href="#") Источник: бывший футболист "Спартака" Ребко перейдет в московский "Арарат"


						div.col-md-4
							div.right-column
								h1 категории
								ul.content__mnu
									li
										i(class="fa fa-angle-double-right")
										a(href="#")Спортивные новости
									li
										i(class="fa fa-angle-double-right")
										a(href="#")Футбол
									li
										i(class="fa fa-angle-double-right")
										a(href="#")Хоккей
									li
										i(class="fa fa-angle-double-right")
										a(href="#")Баскетбол
									li
										i(class="fa fa-angle-double-right")
										a(href="#")Теннис
									li
										i(class="fa fa-angle-double-right")
										a(href="#")Автоспорт
									li
										i(class="fa fa-angle-double-right")
										a(href="#")Единоборства
								h1 популярные новости
								div.right_news
									img(src="img/sidebar-img.png")
									h2 «Фиорентина» отдала € 8 млн за игрока «Палмейраса» Уго
									span 17 мая 2017
									p.
										«Фиорентина» официально объявила о переходе защитника «Палмейраса» Витора Уго. По информации итальянских СМИ, сумма трансфера составила € 8 млн. Контракт между «фиалками» и Уго рассчитан на четыре года.
									a(href="#") Далее
								div.right_news
									img(src="img/sidebar-img.png")
									h2 «Фиорентина» отдала € 8 млн за игрока «Палмейраса» Уго
									span 17 мая 2017
									p.
										«Фиорентина» официально объявила о переходе защитника «Палмейраса» Витора Уго. По информации итальянских СМИ, сумма трансфера составила € 8 млн. Контракт между «фиалками» и Уго рассчитан на четыре года.
									a(href="#") Далее

